<!-- <div>hello</div> -->
<div class="row">
  <div class="col-md-2 offset-md-1 mt-3">
    <h3>Wall Planner</h3>
    <form>
      <div>
        Scale: {{ scale | number: '1.2-2'  }} pixels per inch
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [checked]="config.showDimensions" (change)="config.showDimensions = !config.showDimensions; redraw();"
          id="showDimensions">
        <label class="form-check-label" for="showDimensions">Show Dimensions</label>
      </div>

      <hr>

      <div class="mt-3 d-flex align-items-center justify-content-between">
        <h4>Wall Size</h4>
        <button class="btn btn-outline-secondary btn-sm" (click)="config.expandWall = !config.expandWall">{{ config.expandWall ? '^' : '+' }}</button>
      </div>
      <div *ngIf="config.expandWall">
        <div class="form-group">
          <label for="wallWidth">Wall Width (inches)</label>
          <input class="form-control" type="number" id="wallWidth" name="wallWidth" [(ngModel)]="config.wallWidth" (blur)="redraw()">
        </div>
        <div class="form-group">
          <label for="wallHeight">Wall Height (inches)</label>
          <input class="form-control" type="number" id="wallHeight" name="wallHeight" [(ngModel)]="config.wallHeight" (blur)="redraw()">
        </div>
        <div class="form-group">
          <label for="baseboardThickness">Baseboard Thickness (inches)</label>
          <input class="form-control" type="number" id="baseboardThickness" name="baseboardThickness" [(ngModel)]="config.baseboardThickness"
            (blur)="redraw()">
        </div>
      </div>

      <hr>

      <div class="d-flex align-items-center justify-content-between">
        <h4>Crown Molding</h4>
        <button class="btn btn-outline-secondary btn-sm" (click)="config.expandCM = !config.expandCM">{{
          config.expandCM ? '^' : '+' }}</button>
      </div>
      <div *ngIf="config.expandCM">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [checked]="config.useCrown" (change)="config.useCrown = !config.useCrown; redraw();" id="useCrown">
          <label class="form-check-label" for="useCrown">Include Crown Molding</label>
        </div>
        <div *ngIf="config.useCrown" class="mt-2">
          <div class="form-group">
            <label for="crownThickness">Crown Molding Thickness (inches)</label>
            <input class="form-control" type="number" id="crownThickness" name="crownThickness" [(ngModel)]="config.crownThickness" (blur)="redraw()">
          </div>
        </div>
      </div>

      <hr>


      <div class="d-flex align-items-center justify-content-between">
        <h4>Chair Rail</h4>
        <button class="btn btn-outline-secondary btn-sm" (click)="config.expandCR = !config.expandCR">{{
          config.expandCR ? '^' : '+' }}</button>
      </div>
      <div *ngIf="config.expandCR">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [checked]="config.useChairRail" (change)="config.useChairRail = !config.useChairRail; redraw();" id="useChairRail">
          <label class="form-check-label" for="useChairRail">Include Chair Rail</label>
        </div>
        <div *ngIf="config.useChairRail" class="mt-2">
          <div class="form-group">
            <label for="chairRailThickness">Chair Rail Thickness (inches)</label>
            <input class="form-control" type="number" id="chairRailThickness" name="chairRailThickness" [(ngModel)]="config.chairRailThickness" (blur)="redraw()">
          </div>
          <div class="form-group">
            <label for="chairRailHeight">Chair Rail Height (inches)</label>
            <input class="form-control" type="number" id="chairRailHeight" name="chairRailHeight" [(ngModel)]="config.chairRailHeight" (blur)="redraw()">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [checked]="config.useSubRail" (change)="config.useSubRail = !config.useSubRail; redraw();"
              id="useSubRail">
            <label class="form-check-label" for="useChairRail">Include Sub-Rail</label>
          </div>
        </div>
      </div>

      <hr>

      <div class="mt-3 d-flex align-items-center justify-content-between">
        <h4>Wall Frames</h4>
        <button class="btn btn-outline-secondary btn-sm" (click)="config.expandWF = !config.expandWF">{{
          config.expandWF ? '^' : '+' }}</button>
      </div>
      <div *ngIf="config.expandWF">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [checked]="config.useWallFrames" (change)="config.useWallFrames = !config.useWallFrames; redraw();"
            id="useWallFrames">
          <label class="form-check-label" for="useWallFrames">Include Lower Frames</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [checked]="config.useUpperWallFrames" (change)="config.useUpperWallFrames = !config.useUpperWallFrames; redraw();"
            id="useUpperWallFrames">
          <label class="form-check-label" for="useUpperWallFrames">Include Upper Frames</label>
        </div>
        <div *ngIf="config.useWallFrames" class="mt-2">
          <div class="form-group">
            <label for="numberOfFrames">Number of Frames</label>
            <input class="form-control" type="number" id="numberOfFrames" name="numberOfFrames" [(ngModel)]="config.numberOfFrames"
              (blur)="redraw()">
          </div>
        </div>
      </div>

      <hr>

      <div class="mt-3">
        <h4>Windows/Doors</h4>
      </div>
      <div *ngFor="let window of config.windows; index as i" class="mt-2">
        <div class="d-flex align-items-center justify-content-between">
          <div>Item {{ i + 1 }} - {{ window.isDoor ? 'Door' : 'Window' }}</div>
          <div>
            <button class="me-2 btn btn-outline-danger btn-sm float-right" (click)="removeWindow(i);">X</button>
            <button class="btn btn-outline-secondary btn-sm float-right" (click)="window.expand = !window.expand; redraw()">{{ window.expand ? '^' : '+' }}</button>
          </div>  
        </div>
        <div *ngIf="window.expand" class="mt-3">
          <div class="form-group">
            <label for="distanceFromLeft{{i}}">Distance from Left Wall</label>
            <input class="form-control" type="number" id="distanceFromLeft{{i}}" name="distanceFromLeft{{i}}" [(ngModel)]="window.distanceFromLeft"
              (blur)="redraw()">
          </div>
          <div class="form-group" *ngIf="!window.isDoor">
            <label for="distanceFromFloor{{i}}">Distance from Floor</label>
            <input class="form-control" type="number" id="distanceFromFloor{{i}}" name="distanceFromFloor{{i}}" [(ngModel)]="window.distanceFromFloor"
              (blur)="redraw()">
          </div>
          <div class="form-group">
            <label for="width{{i}}">Width (including frame)</label>
            <input class="form-control" type="number" id="width{{i}}" name="width{{i}}" [(ngModel)]="window.width" (blur)="redraw()">
          </div>
          <div class="form-group">
            <label for="height{{i}}">Height (including frame)</label>
            <input class="form-control" type="number" id="height{{i}}" name="height{{i}}" [(ngModel)]="window.height" (blur)="redraw()">
          </div>
          <div class="form-group">
            <label for="frameWidth{{i}}">Frame Thickness</label>
            <input class="form-control" type="number" id="frameWidth{{i}}" name="frameWidth{{i}}" [(ngModel)]="window.frameWidth"
              (blur)="redraw()">
          </div>
          <div class="form-check" *ngIf="!window.isDoor">
            <input class="form-check-input" type="checkbox" [checked]="window.useGrids" (change)="window.useGrids = !window.useGrids; redraw();"
              id="useGrids{{i}}">
            <label class="form-check-label" for="useGrids{{i}}">Window Grids</label>
          </div>

        </div>
      </div>
      <hr>
      <div class="mt-2">
        <button class="btn btn-sm btn-secondary me-2" (click)="addWindow(false)">Add Window</button>
        <button class="btn btn-sm btn-secondary" (click)="addWindow(true)">Add Door</button>
      </div>

    </form>
    <div class="mt-5">
      <h4>Trim Totals</h4>
      <div class="mb-2">
        <select class="form-control" id="maxTrimLength" name="maxTrimLength" [(ngModel)]="config.maxTrimLength"
        (change)="redraw()">
          <option value="8">8' Max Board Length</option>
          <option value="9">9' Max Board Length</option>
          <option value="10">10' Max Board Length</option>
          <option value="12">12' Max Board Length</option>
          <option value="16">16' Max Board Length</option>
        </select>
      </div>
      <div><strong>Baseboard:</strong></div>
      <div class="ml-2">{{ trimTotals.baseboardString }}</div>
      <div><strong>Chair Rail:</strong></div>
      <div class="ml-2">{{ trimTotals.chairRailString }}</div>
      <div><strong>Base Cap:</strong></div>
      <div class="ml-2">{{ trimTotals.baseCapString }}</div>
    </div>
  </div>
  <div class="col-md-9">
    <div #surface class="ml-4 mv-2 p-2" style="height: 1000px"></div>
  </div>
</div>
